# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt
profile.cov

# Vendor directory
vendor/

# Built binaries
bin/

# IDE specific
launch.json
.idea/
.vscode/

# DB
*.db